<div class="containter text-center">
    <h1 class="mb-5">Sign up</h1>

    <form class="col-4 m-auto">
        <div class="form-outline mb-4">
          <input type="text" id="username" class="form-control" />
          <label class="form-label" for="username">username</label>
        </div>
      
        <div class="form-outline mb-4">
          <input type="password" id="password" class="form-control" />
          <label class="form-label" for="password">password</label>
        </div>

        <div class="form-outline mb-4">
            <input type="password" id="confirm-password" class="form-control" />
            <label class="form-label" for="confirm-password">repeat password</label>
          </div>
      
        <button type="button" class="btn btn-primary btn-block mb-4">Sign up</button>
      </form>

      <div>
        <p>Already have an account? <a routerLink="/signin" routerLinkActive="active">Sign in</a>.</p>
      </div>
</div>



