
<div class="mb-2">
  <!-- Upload file modal trigger -->
  <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#uploadFileModal">Upload file</a>
  <a class="btn btn-sm btn-outline-secondary" (click)="refreshFileList()">Refresh list</a>
</div>

<table class="table table-sm table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col" class="col-1">#</th>
        <th scope="col" class="col-6">Original filename</th>
        <th scope="col" class="col-3">Uploaded at</th>
        <th scope="col" class="col-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <th scope="row">{{file.fileId}}</th>
        <td><a class="btn btn-sm" (click)="downloadFile(file.fileId, file.originalFilename)">{{file.originalFilename}}</a></td>
        <td>{{file.uploadedAt}}</td>
        <td><a class="btn btn-sm" (click)="deleteFile(file.fileId)"><a class="btn btn-sm btn-outline-danger">x</a></a></td>
      </tr>
    </tbody>
  </table>


<!-- Upload file modal -->
<div class="modal fade" id="uploadFileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel" >Upload file</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">
          <div class="mb-3">
            <input class="form-control" type="file" id="formFile" required (change)="fileChange($event)" >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="uploadFile()">Upload</button>
        </div>
    </form>
    </div>
  </div>
</div>